/* CSS for index.html */
/* color scheme https://colors.lol/strawy */
.topnav {
    background-color: #444;
    overflow: hidden;
}

/* Style the links inside navigation bar */
.topnav {
    float: left;
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of the links on hover */
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: #7BC8F6;
}

/* Add color to the active/current link */
.topnav a.active {
    /*background-color: #A7FFB5; */
    color: #A7FFB5
    ;
}